html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a {
    text-decoration: none;
    color: rgb(58, 58, 58)
    margin: 0 auto;
    padding: 50px;
}

.mainLogo {
    text-align: center;
}
