html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

* {
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.mainLogo {
    text-align: center;
}
